{% extends '_layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
        text: "Back",
        href: "/",
        attributes: {
          id: "back"
        }
      }) 
    }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ auth.credentials.name }}</span>
        Your businesses
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="search">
              Search businesses for
            </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            business name, e.g. Abbey Farm or SBI number, e.g. 123456789
          </div>
          <input class="govuk-input govuk-!-width-three-quarters" id="search" name="search" type="text"/>
          <button class="govuk-button" data-module="govuk-button">Search</button>
        </div>
      </form>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Business name</th>
            <th scope="col" class="govuk-table__header">SBI number</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for organisation in organisations %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{organisation.name}}</th>
            <td class="govuk-table__cell">{{organisation.sbi}}</td>
            <td class="govuk-table__cell">
              <a href="/business" class="govuk-link">View business hub</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <div class="govuk-divider"></div>
        <h1 class="govuk-heading-m">Account options</h1>
        <ul class="govuk-list">
          <li>
            <a class class="govuk-link" href="/auth/picker">Change organisation</a>
          </li> 
          <li>
            <a class="govuk-link" href="#">Personal details</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Register a business</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Message inbox</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Queries</a>
          </li>
        </ul>
      </div>
      <div class="govuk-form-group">
        <div class="govuk-divider"></div>
        <h1 class="govuk-heading-m">Annual health and welfare review</h1>
        <ul class="govuk-list">
          <li>
            <a class class="govuk-link" href="{{ ahwpHost }}">Start an application</a>
          </li> 
          <li>
            <a class="govuk-link" href="{{ ahwpHost }}/tasks">Resume an application</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
