{% extends '_layout.njk' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ auth.credentials.name }}</span>
        Your details
      </h1>
      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Name"
          },
          value: {
            text: person.fullName
          }
        }, {
          key: {
            text: "Customer reference number"
          },
          value: {
            text: person.crn
          }
        }, {
          key: {
            text: "Address"
          },
          value: {
            text: person.address.fullAddress
          }
        }, {
          key: {
            text: "Email address"
          },
          value: {
            text: person.email
          }
        }, {
          key: {
            text: "Mobile number"
          },
          value: {
            text: person.mobile
          }
        }]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        <span class="govuk-caption-m">{{ organisation.name }}</span>
        Your business
      </h2>
      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Name"
          },
          value: {
            text: organisation.name
          }
        }, {
          key: {
            text: "Single business identifier"
          },
          value: {
            text: organisation.sbi
          }
        }, {
          key: {
            text: "Address"
          },
          value: {
            text: organisation.address.fullAddress
          }
        }, {
          key: {
            text: "Email address"
          },
          value: {
            text: organisation.email
          }
        }, {
          key: {
            text: "Business type"
          },
          value: {
            text: organisation.type
          }
        }, {
          key: {
            text: "Legal status"
          },
          value: {
            text: organisation.legalStatus
          }
        }]
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <div class="govuk-divider"></div>
        <h1 class="govuk-heading-m">Account options</h1>
        <ul class="govuk-list">
          <li>
            <a class class="govuk-link" href="/auth/picker">Change organisation</a>
          </li>
        </ul>
      </div>
      <div class="govuk-form-group">
        <div class="govuk-divider"></div>
        <h1 class="govuk-heading-m">Annual health and welfare review</h1>
        <ul class="govuk-list">
          <li>
            <a class class="govuk-link" href="{{ ahwpHost }}">Start an application</a>
          </li> 
          <li>
            <a class="govuk-link" href="{{ ahwpHost }}/tasks">Resume an application</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
