{% extends '_layout.njk' %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Start or update a rural payments claim</h1>
        <p class="govuk-body">Sign in to make a Rural Payments claim or update your details. If you do not already have an account, you can register for one.</p>
        <p class="govuk-body">You can use the service to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>apply for rural grants and payments, including the Basic Payment Scheme (BPS) and the Sustainable Farming Incentive (SFI)</li>
          <li>update your personal and business details</li>
          <li>check and update digital maps of your registered land</li>
          <li>give someone permission to act on your behalf</li>
        </ul>
        <a href="/home" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-5" data-module="govuk-button" >
          Sign in
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-padding-top-5">Before you start</h2>
        <p class="govuk-body">There is a different scheme for: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Scotland</a>
          </li>
          <li>
            <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Northern Ireland</a>
          </li>
          <li>
            <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Wales</a>
          </li>
        </ul>
      </div>
    </div>
        
  </main>
</div>

{% endblock %}
